.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000000;
  background: rgba(0, 0, 0, .5);
}

.custom-modal {
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 400px;
  transform: translate(-50%, -50%);
}
